# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
lib/lib/jaxen-1.1.6.LICENSE.txt
lib/lib/xalan/xalan-2.7.2.LICENSE
lib/lib/xalan/xalan-2.7.2.NOTICE
lib/lib/xerces.2.11.NOTICE
lib/lib/xerces.2.11.LICENSE
lib/LICENSE.txt
lib/README.txt
bin/
.settings/org.eclipse.jdt.core.prefs
